button {
  background-color: #57cd36;
  color: white;
  padding: 5px;
  text-align: center;
}
.left {
  background-image: linear-gradient(to left, rgb(255, 255, 255), #57cd36);
}
.right {
  background-image: linear-gradient(to right, rgb(255, 255, 255), #57cd36);
}
.description {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background-color: white;
}
.darkmode {
  background-color: black;
}